/*   Break points tomados de bootstrap (como referencia)   */
/* Dispositivos pequeños (smartphones portrait) */
@media (max-width: 480px) {
    .menu__brand>img{
        display: block;
        width: 20vw;
   }
   .menu__list{
        display: none;
   }
    .social-icons__list{
        font-size: 0.85em;
   }
}

/* Dispositivos medianos (tablets, smartphones landscape) */
@media (max-width: 768px) {
    .menu{
        justify-content: center;
    }
    .brand__slogan{
        font-size: 3vw;
    }
}