/* Fuente para usar */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
/* Normalización */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Esta es una opción de fuente */
}

:root{
    /*
        declaracion de variables para colores principales del theme.
        se declaran utilizando --var = valor_a_asignar; valor a asignar puede ser un valor de cualquier propiedad de css
        por ejemplo: 15px; red; inherit, etc. No puede contener propiedades de css como color, o margin. 
    */
    /* variable de color principal */
    --color-principal: #f4f304; /* rgb(244,243,04) */
    /* variables para colores neutros */
    --color-contraste-dark: #4a4440; /* rgb(74,68,64) */
    --color-contraste-dark-alt: #2b2b2b; /* rgb(43, 43, 43)*/
    --color-contraste-light: #F1F2ED; /* rgb(241,242,237) */
    /* variables para colores secundarios */
    --color-secondary-red: #AB2133;
}

body{
    max-width: 100vw;
    background-color: var(--color-contraste-dark-alt);
    background-image: url("../assets/img/page-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-principal);
    font-family: 'Roboto', sans-serif;
}

.wrap{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 5px 15px;
    /* overflow: hidden; */
    font-size: 1.05em;
}

.menu__brand>img{
    width: 10vw;
    object-fit: cover;
    display: none;
}

.menu__list{
    display: flex;
    flex-flow: row wrap;
    gap: 1.2vw;
    align-items: center;
}

li, a{
    list-style: none;
    text-decoration: none;
    color: var(--color-contraste-light);
}

.menu__item{
    display: block;
}

.menu__link{
    background-color: rgba(43, 43, 43, 0.9);
    padding: 1vw;
    border-radius: 3px;
    display: block;
}

.menu__link:hover{
    border-left: 5px solid var(--color-principal);
    box-sizing: content-box;
}

.menu__link--active{
    border-left: 5px solid var(--color-principal);
    box-sizing: content-box;
    color: var(--color-principal);
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.brand{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand__image{
    max-width: 80vw;
    padding: 10px 0 20px;
}

.brand__slogan{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
    width: 100vw;
    text-align: center;
}

.social-icons__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.05em;
}

.social-icons__item{
    display: block;
}

.social-icons__link{
    display: block;
    padding: 2vh;
    background-color: var(--color-contraste-dark-alt);
}

.social-icons__link:hover{
    border-left: 5px solid var(--color-contraste-light);
    background-color: var(--color-contraste-dark);
}

.social-icons__link>.fa-facebook-official{
    color: #324D82;
}
.social-icons__link>.fa-instagram{
    color: #c30086;
}
.social-icons__link>.fa-youtube-play{
    color: #be2e2a;
}